* {
  padding: 0;
}
body {
  background: linear-gradient(to right, #E1f5C4, #E1f5C4 20%, white 20%);
}
.nav-links{
  list-style: none;
  text-align: right;
  margin: 5%;
}
.link-style a{
  text-decoration: none;
  margin: 2%;
  background-color: #E1f5C4;
  color: #FF4E50;
  margin: 0.5%;
  padding: 0.5%;
  font-family: 'Frank Ruhl Libre', serif;
}
.link-style a:hover{
  color: #FF4E50;
  background-color: #EDE574;
  font-family: 'Frank Ruhl Libre', serif;
}
.right-column{
  text-align: left;
  margin-left: 30%;
  margin-right: 5%;
}
.right-column h1{
  margin-top: 1%;
  color: #FF4E50;
  font-family: 'Frank Ruhl Libre', serif;
  font-weight: 900;
}
.right-column p{
  margin-top: 2%;
  font-size: 20px;
  font-family: 'Frank Ruhl Libre', serif;
  font-weight: medium;
}
.me{
  width: 365px;
  height: 500px;
  margin-top: -22%;
  margin-left: 10%;
}
.name{
  width:200px;
  height: 150px;
  margin-left: 10%;
  margin-top: -160px;
}
.unlock{
  width: 240px;
  height: 300px;
  margin-left: 10%;
  position: relative;
  top: -560px;
}
.thoughts{
  width: 240px;
  height: 300px;
  margin-top: -20%;
  margin-left: 10%;
  position: relative;
  top: -270px;
}
* {box-sizing:border-box}
.slideshowContainer {
  max-width: 1000px;
  position: relative;
  margin: auto;
  text-align: center;
}
.mySlides {
  display: none;
}
.chuckclose{
  width: 365px;
  height: 500px;
  margin-left: 40%;
  margin-top: -17%;
}
.drinkbrand{
  width: 665px;
  height: 700px;
  margin-left: 34%;
  margin-top: -10%;
}
.accordian{
  width: 665px;
  height: 700px;
  margin-left: 34%;
  margin-top: -10%;
}
.poster{
  width: 665px;
  height: 700px;
  margin-left: 35%;
  margin-top: -10%;
}
.type{
  width: 365px;
  height: 500px;
  margin-left: 45%;
  margin-top: -10%;
}
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 150%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: #FF4E50;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}
.prev:hover, .next:hover {
  background-color: #EDE574;
}
.text {
  position: relative;
  width: 65%;
  text-align: center;
  background-color: white;
  color: black;
  margin-left: 25%;
  font-family: 'Frank Ruhl Libre', serif;
  border: 2px solid #FF4E50;
}
.text1 p{
  position: relative;
  width: 65%;
  text-align: center;
  background-color: white;
  color: black;
  margin-left: 25%;
  font-family: 'Frank Ruhl Libre', serif;
  border: 2px solid #FF4E50;
  margin-top: -12%;
}
.text2 p{
  position: relative;
  width: 65%;
  text-align: center;
  background-color: white;
  color: black;
  margin-left: 25%;
  font-family: 'Frank Ruhl Libre', serif;
  border: 2px solid #FF4E50;
  margin-top: -5%;
}
.text3 p{
  position: relative;
  width: 65%;
  text-align: center;
  background-color: white;
  color: black;
  margin-left: 25%;
  font-family: 'Frank Ruhl Libre', serif;
  border: 2px solid #FF4E50;
  margin-top: -11%;
}
.text4 p{
  position: relative;
  width: 65%;
  text-align: center;
  background-color: white;
  color: black;
  margin-left: 25%;
  font-family: 'Frank Ruhl Libre', serif;
  border: 2px solid #FF4E50;
  margin-top: 6%;
}
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #E1f5C4;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}
.active, .dot:hover {
  background-color: #FF4E50;
}
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}
@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@media screen and (max-width: 400px) {
    body {
      background: linear-gradient(to right, #E1f5C4, #E1f5C4 25%, white 0%);
      background-repeat: no-repeat;
    }

    .nav-links{
      display: block;
      text-align: right;
      width: 200px;
      margin-left: 45%;
    }
    .left-column{
      display: none;
    }
    .link-style a{
      background-color: #E1f5C4; /* Grey background color */
      color: #FF4E50; /* Black text color */
      display: block; /* Make the links appear below each other */
      text-decoration: none; /* Remove underline from links */
      margin-left: 50%;
      padding-bottom: 2px;
      font-family: 'Frank Ruhl Libre', serif;
    }

    .link-style a:hover{
      color: #FF4E50;
      background-color: #EDE574;
      font-family: 'Frank Ruhl Libre', serif;
    }

    .right-column{
      text-align: left;
      margin-left: 40%;
      margin-right: 5%;
    }
    .right-column h1{
      margin-left: 20%;
      margin-right: 10%;
      position: relative;
      top: -6px;
      font-size: 18px;
      color: #FF4E50;
      font-family: 'Frank Ruhl Libre', serif;
    }
    .right-column h2{
      font-size: 20px;
      margin-left: 20%;
      margin-right: 10%;
      position: relative;
      top: -100px;
      font-family: 'Frank Ruhl Libre', serif;
    }
    .right-column p{
      margin-left: 20%;
      margin-right: 10%;
      font-size: 15px;
      position: relative;
      top: -11px;
      font-family: 'Frank Ruhl Libre', serif;
    }
    .name{
      margin-left: 2%;
      object-fit: contain;
      margin-top: -140%;
      width: 182px;
      height: 155px;
    }
    .unlock{
      width: 161px;
      height: 200px;
      margin-left: 4%;
      /*position: relative;*/
      top: -1392px;
    }
    .thoughts{
      width: 160px;
      height: 200px;
      margin-left: 4%;
      /*position: relative;*/
      top: -1311px;
    }
    * {box-sizing:border-box}
    .slideshowContainer {
      max-width: 1000px;
      text-align: center;
    }
    .mySlides {
      display: none;
    }
    .chuckclose{
      width: 245px;
      height: 200px;
      margin-left: 115px;
      margin-top: 10px;
    }
    .drinkbrand{
      width: 265px;
      height: 400px;
      margin-left: 75px;
      margin-top: 40px;
    }
    .accordian{
      width: 265px;
      height: 400px;
      margin-left: 75px;
      margin-top: 40px;
    }
    .poster{
      width: 245px;
      height: 200px;
      margin-left: 105px;
      margin-top: 20px;
    }
    .type{
      width: 245px;
      height: 200px;
      margin-left: 115px;
      margin-top: 10px;
    }
    .prev, .next {
      cursor: pointer;
      position: absolute;
      top: 120%;
      width: auto;
      margin-top: 940px;
      padding: -27px;
      color: #FF4E50;
      font-weight: bold;
      font-size: 18px;
      transition: 0.6s ease;
      border-radius: 0 3px 3px 0;
      user-select: none;
    }
    .next {
      right: 0;
      border-radius: 3px 0 0 3px;
    }
    .prev:hover, .next:hover {
      background-color: #EDE574;
    }
    .text {
      position: relative;
      width: 65%;
      text-align: center;
      background-color: white;
      color: black;
      margin-left: 30%;
      font-family: 'Frank Ruhl Libre', serif;
      border: 2px solid #FF4E50;
      margin-top: 140px;
    }
    .text1 p{
      position: relative;
      width: 65%;
      text-align: center;
      background-color: white;
      color: black;
      margin-left: 86px;
      font-family: 'Frank Ruhl Libre', serif;
      border: 2px solid #FF4E50;
      margin-top: -174px;
    }
    .text2 p{
      position: relative;
      width: 65%;
      text-align: center;
      background-color: white;
      color: black;
      margin-left: 86px;
      font-family: 'Frank Ruhl Libre', serif;
      border: 2px solid #FF4E50;
      margin-top: -141px;
    }
    .text3 p{
      position: relative;
      width: 65%;
      text-align: center;
      background-color: white;
      color: black;
      margin-left: 103px;
      font-family: 'Frank Ruhl Libre', serif;
      border: 2px solid #FF4E50;
      margin-top:15px;
    }
    .text4 p{
      position: relative;
      width: 65%;
      text-align: center;
      background-color: white;
      color: black;
      margin-left: 111px;
      font-family: 'Frank Ruhl Libre', serif;
      border: 2px solid #FF4E50;
      margin-top:192px;
    }
    .numbertext {
      color: #f2f2f2;
      font-size: 12px;
      padding: 8px 12px;
      position: absolute;
      top: 0;
    }
    .dot {
      cursor: pointer;
      height: 15px;
      width: 15px;
      margin: 0 2px;
      background-color: #E1f5C4;
      border-radius: 50%;
      display: inline-block;
      transition: background-color 0.6s ease;
    }
    .active, .dot:hover {
      background-color: #FF4E50;
    }
    .fade {
      animation-name: fade;
      animation-duration: 1.5s;
    }
    @keyframes fade {
      from {opacity: .4}
      to {opacity: 1}
    }
  }
