p{
  color: red;
  text-align: center;
}

p {
  color: purple;
}

p:first-letter{
  font-size: 55px;
}

#test-id-1 {
  color: orange;
}

h1 {
  font-style: italic;
  font-size: 38px;
}



.test-class {
  text-shadow: 2px 20px yellow;
}

a:hover {
  color: white;
}
