* {
  padding: 0;
}
body {
  background: linear-gradient(to right, #E1f5C4, #E1f5C4 20%, white 20%);
}
.nav-links{
  list-style: none;
  text-align: right;
  margin: 5%;
}
.link-style a{
  text-decoration: none;
  margin: 2%;
  background-color: #E1f5C4;
  margin: 0.5%;
  padding: 0.5%;
}
.link-style a:hover{
  color: black;
}
.right-column{
  text-align: left;
  margin-left: 40%;
  margin-right: 5%;
}
.right-column h2{
  margin-top: 1%;
}
.right-column p{
  margin-top: 2%;
  font-size: 20px;
}
.me{
  width: 365px;
  height: 500px;
  margin-top: -22%;
  margin-left: 10%;
}
.name{
  width:200px;
  height: 150px;
  margin-left: 10%;
  margin-top: -160px;
}

@media screen and (max-width: 400px) {
    body {
      background: linear-gradient(to right, #E1f5C4, #E1f5C4 40%, white 0%);
      background-repeat: no-repeat;
    }
    .box {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
      height: fit-content;
    }
    .nav-links{
      width: 100%;
      text-align: right;
      grid-column: 2;
    }
    .link-style a{
      list-style-position: outside;
      text-decoration: none;
      background-color: #E1f5C4;
      font-size: 10px;
    }
    .link-style a:hover{
      color: black;
    }
  }
